@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
section {
	--foreground-rgb: 40, 0, 60;
	--background-rgb: 255, 90, 255;
	--accent-rgb: 153, 115, 199;
	--link-rgb: 0, 86, 221;
}

.colored {
	--foreground-rgb: 255, 255, 255;
	--background-rgb: 27, 39, 51;
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

section {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	box-sizing: border-box;
	padding: 2rem;
	position: relative;
	text-align: center;
}

section.mousePos,
div.mousePos {
	background: radial-gradient(
		circle at var(--x-pos) var(--y-pos),
		var(--secondary-color) 0%,
		rgb(var(--background-rgb)) 100%
	);
}

#carouselParent {
	mask-image: linear-gradient(90deg, transparent 0%, white 40%, white 60%, transparent 100%);
	-webkit-mask-image: linear-gradient(90deg, transparent 0%, white 40%, white 60%, transparent 100%);
	mask-size: 100%;
	-webkit-mask-size: 100%;
}

.Typewriter {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
}

@media screen and (max-width: 767px) {
	section {
		padding: 0.25rem;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	.card {
		@apply bg-[rgba(0,0,0,.03)] rounded-2xl shadow-xl shadow-[rgb(var(--accent-rgb))];
	}
	.colored .card {
		@apply bg-[rgba(var(--foreground-rgb),0.03)] shadow-black;
	}
}

.transition-scale {
	translate: -100%;
}

.transition-scale:hover {
	scale: 1.25;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		translate: -100%;
	}
	100% {
		opacity: 1;
		translate: 0%;
	}
}
